* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
    font-family: Arial;
}

/* START SCREEN */
#startScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #0b0f2a, black);
    color: white;
}

#startScreen h1 {
    color: cyan;
    font-size: 40px;
}

#startBtn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    background: cyan;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#startBtn:hover {
    background: white;
}

/* GAME SCREEN */
#gameScreen {
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
    background: black;
}

.hidden {
    display: none;
}
